<div style="border: 3px solid red;">
  Please don't make or change any metrics here. It technically will work but it's not really ready for it.
</div>

<%= link_to 'Back to namespace', @namespace %>

<h1>Listing metrics</h1>

<table>
  <tr>
    <th>Namespace</th>
    <th>Name</th>
    <th>Value</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @metrics.each do |metric| %>
  <tr>
    <td><%= metric.namespace.name %></td>
    <td><%= metric.name %></td>
    <td><%= metric.value %></td>
    <td><%= metric.timestamp %></td>
    <td><%= link_to 'Show', [@namespace, metric] %></td>
    <td><%= link_to 'Edit', edit_namespace_metric_path(@namespace, metric) %></td>
    <td><%= link_to 'Destroy', [@namespace, metric], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Metric', new_namespace_metric_path(@namespace) %>
