<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metric.name %>
</p>

<p>
  <b>Value:</b>
  <%= @metric.value %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @metric.timestamp %>
</p>


<%= link_to 'Edit', edit_namespace_metric_path(@namespace, @metric) %> |
<%= link_to 'Back', namespace_metrics_path(@namespace) %>
