<h1>Aggregate Metrics</h1>

<ul>
  <% @aggregate_metrics.each do |a| %>
    <li><%= a.name %>: <%= link_to 'count', view_namespace_aggregate_metrics_path({:name => a.name, :type => AggregateMetric::COUNT}) %> <%= link_to 'average', view_namespace_aggregate_metrics_path({:name => a.name, :type => AggregateMetric::AVERAGE}) %> <%= link_to 'tp50', view_namespace_aggregate_metrics_path({:name => a.name, :type => AggregateMetric::TP50}) %> <%= link_to 'tp90', view_namespace_aggregate_metrics_path({:name => a.name, :type => AggregateMetric::TP90}) %> <%= link_to 'tp99', view_namespace_aggregate_metrics_path({:name => a.name, :type => AggregateMetric::TP99}) %> <%= link_to 'tp100', view_namespace_aggregate_metrics_path({:name => a.name, :type => AggregateMetric::TP100}) %></li>
  <% end %>
</ul>

<%= link_to 'Back to namespaces', namespaces_path %><br/><br/>

<script type="text/javascript">
  var toggle_table = function () {
    var d = document.getElementById("aggregate_metrics_table");
    if(d.style.display == "block") {
      d.style.display = "none";
    } else {
      d.style.display = "block";
    }
  };
</script>
