<h1>Listing aggregate_metrics</h1>

<table>
  <tr>
    <th>Namespace</th>
    <th>Name</th>
    <th>Value</th>
    <th>Timestamp</th>
    <th>Duration</th>
    <th>Metric Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aggregate_metrics.each do |aggregate_metric| %>
  <tr>
    <td><%= aggregate_metric.namespace.name %></td>
    <td><%= aggregate_metric.name %></td>
    <td><%= aggregate_metric.value %></td>
    <td><%= aggregate_metric.timestamp %></td>
    <td><%= aggregate_metric.duration %></td>
    <td><%= aggregate_metric.metric_type %></td>
    <td><%= link_to 'Show', [@namespace, aggregate_metric] %></td>
    <td><%= link_to 'Edit', edit_namespace_aggregate_metric_path(@namespace, aggregate_metric) %></td>
    <td><%= link_to 'Destroy', [@namespace, aggregate_metric], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
