<h1>Listing aggregate_metrics</h1>

<table>
  <tr>
    <th>Namespace</th>
    <th>Name</th>
    <th>Value</th>
    <th>Timestamp</th>
    <th>Duration</th>
    <th>Metric Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aggregate_metrics.each do |aggregate_metric| %>
  <tr>
    <td><%= aggregate_metric.namespace.name %></td>
    <td><%= aggregate_metric.name %></td>
    <td><%= aggregate_metric.value %></td>
    <td><%= aggregate_metric.timestamp %></td>
    <td><%= aggregate_metric.duration %></td>
    <td><%= aggregate_metric.metric_type %></td>
    <td><%= link_to 'Show', [@namespace, aggregate_metric] %></td>
    <td><%= link_to 'Edit', edit_namespace_aggregate_metric_path(@namespace, aggregate_metric) %></td>
    <td><%= link_to 'Destroy', [@namespace, aggregate_metric], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aggregate metric', new_namespace_aggregate_metric_path(@namespace) %>

<hr />

Type: <%= @type %>
From: <%= @from %>
To: <%= @to %>

<%
  min = 0
  max = 0
  tsd = ""
  i = @from.to_i
  while i <= @to.to_i
    if @indexed_aggregate_metrics[i].nil?
      tsd << '_'
    else
      value = @indexed_aggregate_metrics[i].value
      if value < min
        min = value
      end
      if value > max
        max = value
      end
      tsd << value.to_s
    end
    if i < @to.to_i
      tsd << ','
    end
    i += 300
  end
%>

Min: <%= min %><br />
Max: <%= max %><br />
TSD: <%= tsd %><br />
<%
  url = "http://chart.apis.google.com/chart?chxr=0,#{min},#{max}&chxt=y&chs=600x200&cht=lc&chds=#{min},#{max}&chd=t:#{tsd}&chg=14.3,-1,1,1&chls=1"
%>

<img src="<%= url %>" />