<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @namespace.name %>
</p>

<%= link_to 'Aggregate metrics', namespace_aggregate_metrics_path(@namespace) %> |
<%= link_to 'Raw metrics', namespace_metrics_path(@namespace) %> | 
<%= link_to 'Edit (DO NOT USE)', edit_namespace_path(@namespace) %> |
<%= link_to 'Back', namespaces_path %>
